






/* -------------- Header -------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(53, 50, 50);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(247, 160, 0);
}
/* -------------- General -------------------*/
/* background */
body{
    margin: 0;
    background-image: url("./images/background_repeat.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.title{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    color: white;
    font-size: larger;
    font-weight: bolder;
}

.section {
    margin: 75px 10%;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

hr {
  border-color: rgb(247, 160, 0);
  background-color: rgb(247, 160, 0);
  height: 2px;
}

/* -------------- Accueil -------------------*/

.presentation {
    margin: 50px 20%;
    display: flex;
    justify-content: space-evenly; /* Center horizontally */
    align-items: center;    /* Center vertically */
    overflow:auto;
}

/* img cercle */
.profile-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}
/* txt */
.presentationTxt{
    margin: auto;
    margin-left: 20px;
    text-align: justify;
    color: white;
}

/* liens de navigation*/
.links {
    display: flex;
    justify-content: space-evenly; /* Center horizontally */
    align-items: center;    /* Center vertically */
    overflow:auto;
}
.links>a{
    margin: auto;
    text-decoration: none;
}

.circle-text {
  width: 175px;
  aspect-ratio: 1;
  background-color: rgb(247, 160, 0);
  border-radius: 50%;
  color: black;
  
  /* Centers text vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: bold;
}


/* --------------Parcours-------------------*/

.left_img_big{
    width: 400px;
    margin-left: 10%;
}

.left_img_sml{
    width: 200px;
    margin-left: 20%;
}

.right_txt{
    width: 1000px;
    color:white;
    margin:auto 0px auto 200px;
    word-wrap: break-word;
}


/* --------------Portfolio-------------------*/

.right_img_big{
    width: 400px;
    margin-right: 0%;
}

.right_img_sml{
    width: 200px;
    margin-right: 20%;
}

.left_txt{
    width: 1000px;
    color:white;
    margin:auto 100px auto 100px;
    word-wrap: break-word;
    /*background-color: rgb(247, 160, 0, 0.7);
    padding: 10px;*/
}

/* --------------footer -------------------*/
footer{
    margin-top: 30px;
    background: linear-gradient(180deg,rgb(247, 160, 0),rgb(53, 50, 50) );
    width: 100%;
}

.footer-cont{
    display: flex;
    width: 100%;
    flex-direction: row;
    color: black;
}
.left{
    align-self: left;
    margin: auto;
    margin-left: 20px;
}
.middle{
    align-self: middle;
    margin: auto;
}
.right{
    align-self: right;
    margin: auto;
    margin-right: 20px;
}

